body {
  background-color: #f3f3f3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1.2px;
}
#grid-container {
  margin: 10px 10% 20px;
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 30px;
}
#cart-heading {
  margin: 0 9% 0;
  font-size: 24px;
  color: #151b39;
  padding: 5px 24px;
}
#grid-container #items_section,
#order_section {
  padding: 10px;
  border-radius: 10px;
}
#grid-container img {
  border-radius: 4px;
}

#cart-items > .buyItem {
  background-color: #fff;
  margin: 18px 0;
  box-shadow: 1px 1px 6px 1px #cfcfcf;
  border-radius: 4px;
  padding: 15px;
  height: fit-content;
}
#order_section .buyItem {
  background-color: #fff;
  margin: 18px 0;
  box-shadow: 1px 1px 6px 1px #cfcfcf;
  border-radius: 4px;
  padding: 15px;
  height: fit-content;
}

.buyItem > img {
  float: left;
  height: 90px;
  margin-bottom: 100px;
  margin-right: 20px;
}

#priceSection > .offerPrice {
  font-size: 16px;
  color: #ef4281;
  line-height: 24px;
  padding: 0;
  letter-spacing: 0.15px;
}

#priceSection > .mrp {
  font-family: Lato;
  font-size: 12px;
  color: rgba(21, 27, 57, 0.6);
  line-height: 16px;
  padding: 0;
  margin-left: 5px;
  text-decoration: line-through;
}

.buyItem > p {
  font-size: 12px;
  color: #151b39;
}

/* .buyItem > h4 {
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  letter-spacing: 0.15px;
} */
.buyItem > button {
  font-size: 12px;
  color: rgba(21, 27, 57, 0.6);
  line-height: 16px;
  letter-spacing: 1px;
  background: #f6f6f7;
  padding: 8px 0;
  text-align: center;
  margin: 0 4% 0 0;
  border-radius: 4px;
  border: 1px solid #f6f6f7;
}

#removeBtn {
  width: 80px;
}

#saveBtn {
  width: 140px;
}

#parent-div h3 + p {
  font-size: 12px;
  margin: 6px 0;
  color: green;
}
#parent-div h3 + p + p {
  margin: 7px 0;
  font-size: 14px;
}
.price-span {
  font-size: 13px;
}

#parent-div select {
  width: 50px;
  padding: 2px 3px;
}
#parent-div button {
  display: block;
  background-color: #1cadaf;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin: 20px 0 10px;
  border: none;
  letter-spacing: 2px;
  border-radius: 4px;
}
#promo-code,
#payment,
#terms {
  background-color: #fff;
  margin: 0px 0 18px;
  border-radius: 4px;
  padding: 15px;
  height: fit-content;
}
#promo-code,
#payment {
  box-shadow: 1px 1px 6px 1px #cfcfcf;
}
#terms {
  font-size: 11px;
  line-height: 18px;
  color: rgb(138, 135, 135);
}
#terms span {
  color: blue;
}
#promo-code {
  text-align: center;
}
#promo-code p {
  font-size: 12px;
  color: rgba(21, 27, 57, 0.6);
  line-height: 16px;
  letter-spacing: 1px;
  padding-bottom: 15px;
  margin: 0 0 16px;
  font-weight: bold;
  float: left;
}
#promo-code > label {
  margin: 10px 0;
  font-size: 14px;
  color: #151b39;
  line-height: 24px;
  margin: 0;
  float: left !important;
  text-align: left;
}

#promo-code > select {
  width: 125px;
  padding: 2px;
  font-size: 14px;
}
#payment p {
  font-size: 12px;
  color: rgba(21, 27, 57, 0.6);
  padding-bottom: 15px;
  display: inline-block;
  width: 100%;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

.mrpTotal,
.disTotal,
.amountTotal {
  display: flex;
  justify-content: space-between;
}

#process_order {
  display: flex;
}

#payment .priceTitle {
  font-size: 14px;
  color: #151b39;
  line-height: 24px;
  margin: 0;
  float: left !important;
  text-align: left;
}

.priceTitle span {
  font-size: 14px;
  color: #151b39;
  line-height: 24px;
  float: right;
}

#process_order {
  display: flex;
}
#process_order > p {
  padding: 15px 0;
}

#payment button {
  width: 98%;
  margin: 15px 1%;
  padding: 10px;
  border: none;
  background-color: #1cadaf;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
